<li class="dropdown-item">
  <a class="link-secondary" href="<%= notification.url %>" style="text-decoration: none">
    <div class="bg-light p-2">
      <div>
        <%= notification.message %>
      </div>
      <!-- <small> -->
      <!--   <%= link_to 'read', notification.url %> -->
      <!-- </small> -->
    </div>
  </a>
</li>
